/* CSS Reset  */
body
{
 font-family: cursive;
 color: white;
 margin:0px;
 padding: 0px;
 background: url('bg.jpg') no-repeat center center/cover;
}
.left
{
     display: inline-block;
     /* border: 2px solid red; */
     position: absolute;
     left: 60px;
     top: 20px;
}
.left img
{
     width: 110px;
     filter: invert(100%);/* kisi bhi picture ko white se black  or black se white karne ke liye use karte hai*/
     margin: 0px auto;
}
.left div
{
     line-height: 25px;
     font-size: 20px;
     text-align: center;
}

.mid
{
     display: block; /*1*/
     width: 47%; /*2*/
     margin: 20px auto; /*3  1-2-3 are to set the element into a center*/
     /* border: 2px solid green */
}
.right
{
     position: absolute;
     right: 34px;
     top: 33px;
     display: inline-block;
     /* border: 2px solid yellow; */
}

.navbar li
{
     font-size: 19px;
     display: inline-block;
}
.navbar li a
{
     color: white;
     text-decoration: none;
     padding: 34px 23px;
}
.navbar li a:hover, .navbar li a:active
{
     text-decoration: underline;
     color: rgb(179, 172, 172);
}

.btn
{
 font-family: cursive;
 margin: 0px 9px;
 padding: 4px 14px;
 color: white;  /*use because not inherited by body*/
 background-color: black;
 border: 2px solid grey;
 border-radius: 10px;
 font-size: 17px;
 cursor: pointer;
}
.btn:hover
{
 background-color: rgb(148, 142, 142);
}

.container
{
 border: 2px solid ;
 margin: 100px 700px;
 padding: 75px 75px;
 width: 36%;
 height: 200%;
 border-radius: 10px ;
}
.container h1
{
     text-align: center;
}

.formgroup input
{
     text-align: center;
     display: block;
     width: 60%;
     padding: 6px;
     border: 2px solid pink;
     border-radius: 6px;
     font-size: 20px;
     font-family: cursive;
     margin: 11px auto;
}
.container button
{
     display: block;
     width: 63%;
     margin: 20px auto;
}